mixin attributeSkillMod({name,defaultValue,classAdd,trigger})
	span(class=`attribute-skill-mod-container${classAdd ? classAdd : ''}`)
		-
			const trueDefault = defaultValue === undefined ?
				0 :
				defaultValue;
		+hidden({name,class:'attribute-skill-mod',value:trueDefault,trigger})
		+span({class:`attribute-skill-mod-display${classAdd ? ` ${classAdd}` : ''}`,name})
			|#{trueDefault}
//- End mixin

mixin statContainer(divObj)
	- divObj = divObj || {};
	.stat-container&attributes(divObj)&attributes(attributes)
		block
//- End mixin

//- build an attribute row
mixin attributeHolder(name)
	+label({label:name})

	.current-max
		//- when this is updated, must also update $affects
		+input({name:name,type:'number',trigger:{affects:[`${name}_skill_mod`]}})
		| /
		+input({name:`${name}_max`,type:'number'})

	//- print "(" + "+" + $calculation + ")"
	+attributeSkillMod({
		name:`${name}_skill_mod`,
		value:0,
		classAdd:'parentheses',
		trigger:{calculation:'calcAttributeSkillMod'}
		})
	
	.limit
		+input({name:`${name}_limit`,type:'number'})
	
	.trait
		+input({name:`${name}_trait`,type:'text'})
//- End mixin
