mixin skillHeader
	.name.column
	.value.column
	+label({label:"Trained", divObj:{class:"column"}, spanObj:{class:"column"}})
	+label({label:"Toolbox", divObj:{class:"column"}, spanObj:{class:"column"}})
	+label({label:"Workshop", divObj:{class:"column"}, spanObj:{class:"column"}})
	+label({label:"Modifier", divObj:{class:"column"}, spanObj:{class:"column"}})
	+label({label:"Trait", divObj:{class:"trait column"}, spanObj:{class:"column"}})


mixin skillRow (skill)
	- const skillName = skill.name;
	- const attributeShort = skill.attribute.substring(0,3); // first 3 chars
	- const display = attributeShort == "" ? skillName : `${skillName} (${attributeShort})`;
	.name
		//-'aria-level':3,
		+roller({name:skillName,
			role:'heading',
			'data-i18n':display,
			trigger:{triggeredFuncs:['rollSkill']}
			})

	.value.column
		//- a place to store the total roll bonus
		//- TODO: make it sensitive to the attribute bonus
		+input({name:skillName,type:'number',disabled:true,
			trigger:{calculation:'calcSkill'}})
	
	.column
		+checkbox({
			name:`${skillName}_trained`,
			value:1,
			class:'column',
			affects:[skillName]})
	.column
		+checkbox({
			name:`${skillName}_toolbox`,
			value:1,
			class:'column',
			affects:[skillName]})

	.column
		+checkbox({
			name:`${skillName}_workshop`,
			value:1,
			class:'column',
			affects:[skillName]})

	+input({name:`${skillName}_modifier`,type:'number'})
	+input({name:`${skillName}_trait`,type:'text'}).trait
